import pandas as pd
# ^^^ pyforest auto-imports - don't write above this line
# Imports

In [1]:
stations = pd.read_csv("./gtfs_data/stops.txt")

# Algorithms to use

- steiner tree problem (basically getting the distance matrix) https://www.geeksforgeeks.org/steiner-tree/
- floyd-warshall algorithm https://en.wikipedia.org/wiki/Floyd–Warshall_algorithm
- dijkstra's algorithm https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm#Description

# Mapping Stations

In [2]:
stations.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,101,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,1,NaN
1,101N,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
2,101S,NaN,Van Cortlandt Park - 242 St,NaN,40.889248,-73.898583,NaN,NaN,0,101
3,103,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,1,NaN
4,103N,NaN,238 St,NaN,40.884667,-73.900870,NaN,NaN,0,103

In [3]:
len(stations)

1503

In [4]:
null_columns=stations.columns[stations.isnull().any()]
stations[null_columns].isnull().sum()

stop_code         1503
stop_desc         1503
zone_id           1503
stop_url          1503
parent_station     501
dtype: int64

In [5]:
stations.drop(columns = null_columns[:-1], inplace=True) # dropping if there are 1503 null values in a col

In [6]:
stations.stop_lat.nunique() # 20 staten island stations

496

In [7]:
stations

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
0,101,Van Cortlandt Park - 242 St,40.889248,-73.898583,1,NaN
1,101N,Van Cortlandt Park - 242 St,40.889248,-73.898583,0,101
2,101S,Van Cortlandt Park - 242 St,40.889248,-73.898583,0,101
3,103,238 St,40.884667,-73.900870,1,NaN
4,103N,238 St,40.884667,-73.900870,0,103
...,...,...,...,...,...,...
1498,S30N,Tompkinsville,40.636949,-74.074835,0,S30
1499,S30S,Tompkinsville,40.636949,-74.074835,0,S30
1500,S31,St George,40.643748,-74.073643,1,NaN
1501,S31N,St George,40.643748,-74.073643,0,S31
1502,S31S,St George,40.643748,-74.073643,0,S31

In [8]:
stations.parent_station.nunique()

501

In [9]:
stations.stop_id.nunique()

1503

In [10]:
# https://stackoverflow.com/questions/28679930/how-to-drop-rows-from-pandas-data-frame-that-contains-a-particular-string-in-a-p
stations_no_SI = stations[~stations.stop_id.str.contains("S")]

In [11]:
stations_no_SI.stop_lat.nunique()

470

In [13]:
stations_no_SI

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
0,101,Van Cortlandt Park - 242 St,40.889248,-73.898583,1,NaN
1,101N,Van Cortlandt Park - 242 St,40.889248,-73.898583,0,101
3,103,238 St,40.884667,-73.900870,1,NaN
4,103N,238 St,40.884667,-73.900870,0,103
6,104,231 St,40.878856,-73.904834,1,NaN
...,...,...,...,...,...,...
1417,R43N,77 St,40.629742,-74.025510,0,R43
1419,R44,86 St,40.622687,-74.028398,1,NaN
1420,R44N,86 St,40.622687,-74.028398,0,R44
1422,R45,Bay Ridge - 95 St,40.616622,-74.030876,1,NaN
1423,R45N,Bay Ridge - 95 St,40.616622,-74.030876,0,R45

In [15]:
stations_no_SI.location_type.sum()

475